.image-list {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  margin: auto -15px !important;
}

.hoverTarget {
  flex: 1 1 25%;
  padding: 15px;
}

.imageTarget {
  transition: .3s linear 0s;
  display: block;
  height: auto;
}

.hoverTarget.hoverTarget--bg {
  flex: 1 1 50%;
}

.hoverTarget.hoverTarget--bg .imageTarget {
  height: 200px;
  background-size: cover;
  background-position: center;
}

.attachTo {
  transition: .3s;
  display: block;
}

.box-shadow-attached {
  position: relative;
  z-index: 1;
}

.sidebar-toggle {
  top: 0;
  bottom: auto;
}

.sidebar-toggle, body.close .sidebar-toggle span {
  background: #42b983;
}

.sidebar-toggle span {
  background: #ffffff;
  transition: .3s;
}

body.close .sidebar-toggle {
  transition: none;
}

body.close .sidebar-toggle span:first-of-type {
  transform: translate(0px, 4px) rotateZ(45deg);
}

body.close .sidebar-toggle span:nth-of-type(2) {
  transform: translate(0px, -2px) rotateZ(-45deg);
}

body.close .sidebar-toggle span:last-of-type {
  opacity: 0;
  transform: translateY(-8px);
}

@media screen and (max-width: 768px) {
  .hoverTarget {
    flex: 1 1 50%;
  }
}
