#{$diagonalBackground_class} {
  .figure {
    position: relative;
    overflow: hidden;
    min-width: 220px;
    max-height: 220px;
    text-align: center;
    &:hover .diagonal, &.hover .diagonal {
      transform: skew(-45deg) scaleX(1);
      transition: all 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
    &:hover .caption .title, &:hover .caption .desc {
      transform: translate3d(0%, 0%, 0);
      transition-delay: 0.2s;
    }
    &:hover .caption .title {
      opacity: 1;
    }
    &:hover .caption .desc {
      opacity: 0.7;
    }
    * {
      box-sizing: border-box;
      transition: all 0.6s ease;
    }
    img {
      opacity: 1;
      transition: opacity 0.35s;
      display: block;
    }
    .diagonal {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      bottom: 0;
      opacity: 0.95;
      transform: skew(-45deg) scaleX(0);
      transition: all 0.3s ease-in-out;
    }
    .caption {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      transform: translateY(-50%);
      z-index: 1;
    }
    .title, .desc {
      margin: 0;
      width: 100%;
      opacity: 0;
    }
    .title {
      padding: 0 30px;
      display: inline-block;
      font-weight: 400;
      text-transform: uppercase;
    }
    .desc {
      padding: 0 50px;
      font-size: 0.8em;
      font-weight: 500;
    }
    a {
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      position: absolute;
      z-index: 1;
    }
  }
}
