#{$zoomOutRight_class} {
  .figure {
    position: relative;
    min-width: 230px;
    max-width: 295px;
    min-height: 220px;
    text-align: right;
    line-height: 1.4em;
    font-size: 16px;
  }

  .figure * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
  }

  .figure .image {
    position: absolute;
    right: 0;
    top: 0;
    opacity: 1;
    width: 100%;
    height: 100%;
    background: center/cover no-repeat;
  }

  .figure figcaption {
    position: absolute;
    width: 50%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    padding: 20px 0 20px 20px;
  }

  .figure .title,
  .figure .desc {
    margin: 0;
    width: 100%;
    transform: translateX(20px);
    opacity: 0;
  }

  .figure .title {
    font-family: 'Playfair Display', Arial, sans-serif;
    text-transform: uppercase;
    margin-bottom: 5px;
  }

  .figure .desc {
    font-size: 0.8em;
  }

  .figure a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }

  .figure:hover .image {
    right: -50%;
    transform: scale(.7);
    z-index: 1;
  }

  .figure:hover figcaption .title,
  .figure:hover figcaption .desc {
    transform: translateX(0px);
    opacity: 1;
  }
}
